.hashtag {
    color: #0095f6;
}

.title-page{
  text-align: center;
  color: #67589a;
  font-weight: 400;
  margin-bottom: 50px;
}

iframe{
    pointer-events: none;
  }

.posts iframe {
    width: 100%;
}

.posts .card {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -16px -6px 5px 5px rgba(102,102,102,0); 
  box-shadow: 0px 10px 13px -7px #000000, -16px -6px 5px 5px rgba(102,102,102,0);
}

/*New Post blog*/

.card {
  margin-bottom: 50px;
  cursor: pointer;
}

.card .card-body{
  background-color: #0095f6;
  color: #fff;
  position: absolute;
  bottom: -30px;
  left: 5%;
  width: 90%;
}

/*New Post blog Final*/

.posts.blog .card-text, .blogmodal .description, .blogmodal .description p{
  font-family: Helvetica, Arial, sans-serif;
  color: #111;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38rem;
}

.posts .video iframe {
    width: 400px;
    margin-top: 10px;
}

.posts.linkedin iframe{
  width: 100%;
  margin-top: 10px;
}

.posts.linkedin .row.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#post4vid{width: 100%; height: 411px; margin-bottom: 60px;}

  .container.posts {
    width: 900px;
  }

  /* modal */

  .modal-body img {
    width: 100%;
  }

  .desc .avatar {
    float: left;
    width: 25%;
  }

  .desc .avatar img {
    width: 70px;
    border-radius: 100px;
  }

  .desc .titulo {
    float: left;
    margin-left: 10px;
    padding-top: 20px;
  }

  .desc .titulo h3 {
    font-size: 1.55rem;
  }
  .desc .description {
    width: 100%;
    float: left;
    padding-top: 20px;
  }


  .visually-hidden {
      display: none;
  }

  .carousel-indicators button {
      height: 12px;
      width: 10px;
      border: 0;
      border-radius: 100px;
      margin: 0px 10px 30px 10px;
      opacity: 0.5;
  }

  /* modal final */